.feature {
  width: 300px;
  height: 200px;
  background: #181818;
  margin: 0 2rem 2rem 2rem;
  padding: 0 0 0 3rem;
}

.feature h2 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 500;
}

.feature p {
  font-family: "Open Sans";
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.6;
  padding-bottom: 1rem;
}

.feature a {
  font-family: "Open Sans";
  background-color:#A5AFD4;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 1.5rem;
  font-weight: 500;
}