.features-wrapper {
  max-width: 100%;
  animation: features-appear 1s ease-out forwards;
  background-color: #1D1D1C;
  padding: 5rem;
}

.features-title h1{
  color: #fff;
  font-size: 6.5rem;
  font-weight: 500;
  padding-bottom: 4rem;
}

@keyframes features-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 756px) {

  .features-title h1{
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
  padding-top: 2rem;
  }
}